.container {
    height:100vh;
    border:1px solid red
}
.text {
    position: absolute;
    z-index:9;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff
}
.text h2 {
    font-weight:100;
    font-size: 3rem;
}
.text h1 {
    font-weight:700;
    font-size:6rem;
    line-height: 1.2;
}
.text h3 {
    line-height: 4;
    font-weight: 400;
    font-size:1.8rem;
}