.container {
    height:100vh;
    background-image: url('../images/bg-gray-gradient.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-left:10% 
}
.text {

    /* transform: translate(-50%,-50%); */
    text-align:left;
    align-items: left;
    display: flex;
    flex-direction: column;
    color: #fff;
    width:60%
}
.text h2 {
    font-weight:100;
    font-size: 3rem;
}
.text h1 {
    font-weight:700;
    font-size:6.2rem;
    line-height: 1.2;
    letter-spacing: 0.3rem;
}
.text h3 {
    line-height: 4;
    font-weight: 400;
    font-size:1.8rem;
}
.splineContainer {
    z-index:1;
    width:50vw;
    height:50vw;
    /* transform: translate(-50%,-50%); */
    color: #fff;
}