.projects {
    width: 80%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    position:relative;
    top:10%;
    max-width: 60%;
    margin-top: 2%;
}
.project_item {
    flex: 0 1 calc(30% ); 
}

.projects h1 {
    font-size: 3rem;
    position:relative;
    top:11%
}

.button_grid {
    margin:1%;
    width:60%;
    display:flex;
    justify-content: space-evenly;
    min-height:40px;
    position: relative;
    top:11.5%
}


.button_grid button {
    cursor: pointer;
    border-radius: 5%;
    border:none;
    width:20%;
    font-size: 80%;
    font-weight: 400;
    font-family: 'Poppins';
    box-shadow: 0px 0px 2px 2px rgb(52, 52, 52);
    background-color:rgb(100, 152, 230);
    text-wrap:wrap

}
.button_grid button:hover {
    background-color: rgb(31, 61, 106);
    transition: 0.4s;
}
/* .button_grid button:active {
    background-color: rgb(44, 80, 134);
} */
.button_grid button.selected {
    background-color: rgb(84, 188, 207);
}
/* project card */
.pjc_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* text-align:center; */
    margin-top:0.5%;
    background-color:rgb(11, 1, 3);
    border-radius: 8px;
    padding: 3%;
}
.role {
    display: inline;
    font-size: 90%;
    font-style: italic;
}
.date {
    display: inline;
    font-size: 90%;
    font-style: italic;

}

.desc_text {
    color: #96e3da;
    text-align: justify;
}

.desc_container {
    max-height: 150px;
    overflow-y: scroll;
    margin-top: 3%;
    margin-bottom: 3%;
    padding:0 3%;
}
.tools {
    font-style: italic;
    text-align: justify;
    /* padding: 0 3% ; */
}
.link_container {
    margin-top: 2%;
    display: flex;
    width:100%;
    /* justify-content: center; */

}
.link_container a {
    text-decoration: underline;
    color: rgb(100, 152, 230);
    /* margin-left: 3%; */
    margin-right: 3%;
}
.pjc_content {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.pjc_text {
    flex: 1;
    min-width: 0; /* Allows text to shrink properly */
    flex-direction: column;
    align-items: left;
}

.pjc_image {
    flex: 0 0 40%; /* Takes up 40% of the width, doesn't grow or shrink */
    max-width: 400px;
}

.pjc_image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* stack vertically on smaller screens */
@media (max-width: 768px) {
    .pjc_content {
        flex-direction: column;
    }
    
    .pjc_image {
        flex: 0 0 auto;
        max-width: 100%;
        width: 90%;
    }
}